{% extends 'base.html.twig' %}

{% block title %} {{ titreSite }} {% endblock %}

{% block body_id %}app{% endblock %}

{% block header %}

    {# {% include 'shared/_header.html.twig' %} #}
{% endblock %}

{% block main %}
    {% include 'baseOpen.html.php' %}
    {# Corp de la page d'accueil #}
    <div class="backgroundCreate heightMoy">
        <br><center>
        <h3><b><u>Actualités</u></b></h3>
        <br>
    </div>

    <div class="backgroundCreate">
        <section class="paragraphe subtitle read ">
            {% for scraps in scrap %}
                <table class="tableauReadScrap backgroundWhite" style="border-collapse:collapse">                    
                    <tbody class="pointerRead">
                        <tr class="textShadow">
                            <td class="borderTrueTopLeftRight espaceTopBottom titleCenter" colspan="2"><a class="textDecoration" href="{{ path('readscrapdetail', {'id':scraps.id}) }}">{{ scraps.titre }} {{ scraps.id}}</a></td>  
                            {# <td class="borderTrueTopLeftRight espaceTopBottom titleCenter" colspan="2">{{ scraps.titre }} {{ scraps.id}}</td>   #}
                            {# <td class="borderTrueTopLeftRight espaceTopBottom titleCenter" colspan="2" onclick="document.location='{{ path('readscrapdetail', {'id':scraps.id}) }}">{{ scraps.titre }}</td>   #}
                        </tr>
                        <tr>
                            <td class="borderTrueActulaity alignDescription">{{ scraps.description }}</td>
                            <td class="borderTrueActulaity widthPhoto">{{ scraps.photo }}</td>
                        </tr>
                    </tbody>                    
                </table>
                <br>
            {% endfor %}
            {% include 'footer.html.php' %}
        </section>
    </div>
{% endblock %}  