{% extends 'base.html.twig' %}

{% block title %} {{ titreSite }} {% endblock %}

{% block body_id %}app{% endblock %}

{% block header %}

    {# {% include 'shared/_header.html.twig' %} #}
{% endblock %}

{% block main %}
    {% include 'baseOpen.html.php' %}
    {# Corp de la page d'accueil #}
    <div class="backgroundCreate heightMoy">
        <br><br><center>
        <h3><b><u>Produits</u></b></h3>
        <br>
        {# <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--myColorValidate bigButton" type="submit">
            <a href="readStore" style="color:white; text-decoration:none">Voir produit</a>
        </button>
        <br><br>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--myColorValidate middleButton" type="submit">
            <a href="createStore" style="color:white; text-decoration:none">Ajouter produit</a>
        </button> #}
    </div>




    <div class="backgroundCreate">

        <div class="mdl-tabs__tab-bar">
            <a class="mdl-navigation__link mdl-tabs__tab" href="createStore">Ajouter Produits</a>
            <a class="mdl-navigation__link mdl-tabs__tab" href="readStore">Voir Produits</a>
        </div>

        <section class="paragraphe subtitle read ">

            <div class="black">  
                <div >
                    <table class="tableauReadScrap backgroundWhite borderTrue" style="border-collapse:collapse">
                        <tbody class="pointerRead">
                            {# Titre d'entête du tableau #}
                            <tr>
                                <th rowspan="2" class="thTab borderTrue" onclick="document.location='showProductNameAsc'">Titre</th>
                                <th rowspan="2" class="thTab borderTrue">Description</th>
                                <th rowspan="2" class="thTab borderTrue" onclick="document.location='showProductCatAsc'">Photo</th>
                                <th rowspan="2" class="thTab borderTrue">Date création</th>
                                <th rowspan="2" class="thTab borderTrue">Quantité en Gramme</th>
                                <th rowspan="2" class="thTab borderTrue">DLC</th>
                                <th rowspan="2" class="thTab borderTrue" onclick="document.location='showProductTirAsc'">Congélateur</th>
                                <th colspan ="4">Intéragir</th>
                            </tr>
                            <tr>
                                    <th class="thTab borderTrue">Plus</th>
                                    <th class="thTab borderTrue">Moins</th>
                                    <th class="thTab borderTrue">Modifier</th>
                                    <th class="thTab borderTrue">Supprimer</th>
                            </tr>  

                              {# Données à l'intérieur du tableau #}
                        {% for scraps in scrap %}

                                <tr class="textShadow">                
                                    {# <td class="pointerRead borderTrue heightCellule" onclick="document.location='{{ path('showProductName', #}
                                        {# {'name':scraps.title}) }}'">    #}
                                        {# {{ scraps.title }} #}

                                    </td>
                                    {# <td class="ponterRead borderTrue"> #}
                                        {# {% if scraps.description == scraps.description %} #}
                                            {# <img src="../assets/images/products/{{products.name}}.jpg" width='90%' /> #}
                                        {# {% endif %} #}
                                    </td>    
                                    {# <td class="pointerRead borderTrue" onclick="document.location='{{ path('showProductCategory', #}
                                        {# {'name':scraps.description}) }}'"> #}
                                        {# {{ scraps.description }} #}
                                    </td>
                                    {# <td class="pointerRead borderTrue" onclick="document.location='{ path('showProductCategory',
                                        {'name':product.Category.name}) }}'">
                                        {{ products.Category.name }}
                                    </td> #}
                                    {# <td>{{ product.Category.name }}</td>    #}
                                    <td class="borderTrue">{{ scraps.titre }}</td>                                 
                                    <td class="borderTrue">{{ scraps.description }}</td> 
                                    {# <td class="borderTrue">{{ products.stock.dlc }}</td> #}                                                                 
                                    <td class="borderTrue">0</td>                                  
                                    {# <td class="borderTrue">0</td>                                   #}
                                    {# <td class="borderTrue">{{ scraps.DateCreate }}</td>                                   #}
                                    <td class="borderTrue">{{scraps.DateCreate|date('d/m/Y')}}</td>                                  
                                    <td class="borderTrue">0</td> 
                                    <td class="borderTrue">0</td>
                                    {# <td class="borderTrue"></td> #}
                                    {# <td class="borderTrue">{{ products.stock.places.name }}</td> #}
                                    <td class="borderTrue">0</td>

                                    {# <td class="borderTrue">{{ products.Freezer.name|default('') }}</td> #}
                                    {# <td>{{ product.Freezer.drawer|default('') }}</td> #}

                                    {# plus button #}
                                    <td class="borderTrue">                                    
                                        {# <a class="mdl-list__item-secondary-action mdl-grid" href="{{ path('changeProductAdd', {'id':products.id}) }}" style="color:white; text-decoration:none"> #}
                                            <i class="material-icons paragraphe">add_box</i>
                                        </a>                                        
                                    </td>

                                    {# minus button #}
                                    <td class="borderTrue">                                     
                                        {# <a class="mdl-list__item-secondary-action mdl-grid" href="{{ path('changeProductMin', {'id':products.id}) }}" style="color:white; text-decoration:none"> #}
                                            <i class="material-icons paragraphe">remove_circle</i>
                                        </a>
                                    </td>

                                    {# update button #}
                                    <td class="borderTrue">                                               
                                        {# <a class="mdl-list__item-secondary-action mdl-grid" href="{{ path('updateProduct', {'id':products.id}) }}" style="color:white; text-decoration:none"> #}
                                            <i class="material-icons paragraphe">edit</i>
                                        </a>                                        
                                    </td>

                                    {# delete button #}
                                    <td class="borderTrue">                                    
                                        {# <a class="mdl-list__item-secondary-action mdl-grid" href="{{ path('deleteProduct', {'id':products.id}) }}" style="color:white; text-decoration:none"> #}
                                            <i class="material-icons paragraphe" onclick="if(!confirm('Confirmer la suppression du produit ?')) return false;">delete</i>
                                        </a>
                                    </td>
                                </tr>
                            {# {% endif %} #}
                        {% endfor %}  

                        </tbody>
                    </table>
                </div>
                <br>
            </div>        
            {% include 'footer.html.php' %}
        </section>
    </div>
</div>
{% endblock %}  